<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>EventsServlet</servlet-name>
		<servlet-class>controller.EventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsServlet</servlet-name>
		<url-pattern>/events</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllEventsRetrieverServlet</servlet-name>
		<servlet-class>controller.AllEventsRetrieverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllEventsRetrieverServlet</servlet-name>
		<url-pattern>/events/all</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EventsRetrieverByIDServlet</servlet-name>
		<servlet-class>controller.EventsRetrieverByIDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsRetrieverByIDServlet</servlet-name>
		<url-pattern>/events/id</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EventsRetrieverByEmailServlet</servlet-name>
		<servlet-class>controller.EventsRetrieverByEmailServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsRetrieverByEmailServlet</servlet-name>
		<url-pattern>/events/email</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EventsRetrieverByTimeRangeServlet</servlet-name>
		<servlet-class>controller.EventsRetrieverByTimeRangeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventsRetrieverByTimeRangeServlet</servlet-name>
		<url-pattern>/events/timeRange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortedEventsRetrieverByIDServlet</servlet-name>
		<servlet-class>controller.SortedEventsRetrieverByIDServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortedEventsRetrieverByIDServlet</servlet-name>
		<url-pattern>/events/sortbyID</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortedEventsRetrieverByNumberOfParticipantsServlet
		</servlet-name>
		<servlet-class>controller.SortedEventsRetrieverByNumberOfParticipantsServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortedEventsRetrieverByNumberOfParticipantsServlet
		</servlet-name>
		<url-pattern>/events/sortbyNumberOfParticipants</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortedEventsRetrieverByDurationServlet</servlet-name>
		<servlet-class>controller.SortedEventsRetrieverByDurationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortedEventsRetrieverByDurationServlet</servlet-name>
		<url-pattern>/events/sortbyDuration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortedEventsRetrieverByCreatedTimeServlet</servlet-name>
		<servlet-class>controller.SortedEventsRetrieverByCreatedTimeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortedEventsRetrieverByCreatedTimeServlet</servlet-name>
		<url-pattern>/events/sortbyCreatedTime</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortedEventsRetrieverByEventTimeServlet</servlet-name>
		<servlet-class>controller.SortedEventsRetrieverByEventTimeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortedEventsRetrieverByEventTimeServlet</servlet-name>
		<url-pattern>/events/sortbyEventTime</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyEventServlet</display-name>
		<servlet-name>ModifyEventServlet</servlet-name>
		<servlet-class>controller.ModifyEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyEventServlet</servlet-name>
		<url-pattern>/events/modify</url-pattern>
	</servlet-mapping>
</web-app>